<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Device's System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#addEmployee"
          type="submit"
          (click)="resetForm()"
        >
          Add Device
        </button>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Device ID</th>
        <th scope="col">Description</th>
        <th scope="col">Address</th>
        <th scope="col">Max Energy Consumption</th>
        <th scope="col">Client's Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of deviceList">
        <td>{{ device.id }}</td>
        <td>{{ device.description }}</td>
        <td>{{ device.address }}</td>
        <td>{{ device.hourlyMaxEnergyConsumption }} kW/H</td>
        <td>{{ device.user!.name!}}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#editEmployee"
            (click)="editDevice(device)"
          >
            Edit
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="deleteDevice(device.id!, device.user!.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add employee modal -->
  <div
    class="modal fade"
    id="addEmployee"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new device</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="deviceDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Description
              </label>
              <input
                type="description"
                formControlName="description"
                class="form-control"
                id="description"
                aria-describedby="emailHelp"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Address
              </label>
              <input
                type="address"
                formControlName="address"
                class="form-control"
                id="address"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Max Energy Consumption
              </label>
              <input
                type="hourlyMaxEnergyConsumption"
                formControlName="hourlyMaxEnergyConsumption"
                class="form-control"
                id="hourlyMaxEnergyConsumption"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Clients </label>
                <select
                  [(ngModel)]="selectClient" class="form-control" [ngModelOptions]="{standalone: true}"
                >
                  <!-- <option value="ADMIN">ADMIN</option>
                  <option value="CLIENT">CLIENT</option> -->
                  <option *ngFor="let clientos of clientList" [ngValue]="clientos">
                    {{clientos.name}}
                  </option>
                </select>
              </div>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="addDevice()"
              >
                Add device
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit employee modal -->
  <div
    class="modal fade"
    id="editEmployee"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Edit device details
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="deviceDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Description
              </label>
              <input
                type="description"
                formControlName="description"
                class="form-control"
                id="description"
                aria-describedby="emailHelp"
              />
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Address
              </label>
              <input
                type="address"
                formControlName="address"
                class="form-control"
                id="address"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Max Energy Consumption
              </label>
              <input
                type="hourlyMaxEnergyConsumption"
                formControlName="hourlyMaxEnergyConsumption"
                class="form-control"
                id="hourlyMaxEnergyConsumption"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"> Clients </label>
              <select
                [(ngModel)]="selectClient" class="form-control" [ngModelOptions]="{standalone: true}"
              >
                <!-- <option value="ADMIN">ADMIN</option>
                <option value="CLIENT">CLIENT</option> -->
                <option *ngFor="let clientos of clientList" [ngValue]="clientos">
                  {{clientos.name}}
                </option>
              </select>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-outline-success"
                (click)="updateDevice()"
                data-bs-dismiss="modal"
              >
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
